.qus-body{
    background-color: #111D5E;
    padding: 50px;
}
.question-container{
    background-color: #ffffff;
    margin: 50px auto;
    border: 1px solid burlywood;
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    padding: 30px;
    border-radius: 10px;
}
.qus-btn{
 border: none;
 background: #fff;
}

.question-view{
    display: flex;
}

.question-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 80px;
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
    border: 1px solid  burlywood;
}

.green{
    color: green;
}

.red{
    color: red;
}

@media only screen and (min-width:250px) and (max-width:767px){

    .qus-body{
        padding: 0;
    }
    .question-container{
        width: 350px;
    }
    .question-item{
        width: 250px;
        height: 100px;
    }
    .question-view h4{
        font-size: 20px;
        font-weight: 500;
    }
}